<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887086218726-71fa3581tr39i6h48v9hg2qd712m6a4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887086218726-71fa3581tr39i6h48v9hg2qd712m6a4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBNrjilSnVj8h0QR-LYhNL7FjdK0kQWFrg</string>
	<key>GCM_SENDER_ID</key>
	<string>887086218726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pasieka.Coronavirus-tracker</string>
	<key>PROJECT_ID</key>
	<string>coronavirus-track</string>
	<key>STORAGE_BUCKET</key>
	<string>coronavirus-track.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887086218726:ios:67245030074c88e9d0aa27</string>
	<key>DATABASE_URL</key>
	<string>https://coronavirus-track.firebaseio.com</string>
</dict>
</plist>